/*
* {
  border-radius: 0 !important;
}
*/
/**
Disable scrollbars
http://stackoverflow.com/questions/242608/disable-browsers-vertical-and-horizontal-scrollbars
**/

html {
     -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.btn {
	height: 40px;
}
html, body {
	height: 100%;
	margin: 0px;
}
.panel {
	width: 50%;
	top:100px;
}
.panel-body {
	
}
.panel-footer{
	position: absolute;
    width:100%;
    bottom:0;
}
button {
	width: 100px;
}
/* 
When jquery sets an element to disable draggable it also changes the opacity
So this keeps the panel displaying properly
Used for disabling draggable on menu panel when it is set to docked mode
*/
div.ui-state-disabled.ui-draggable-disabled {
	opacity: 1;
}
#menu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	font-size: small;
	min-width: 108px;
	min-height: 40px;
	margin-bottom: 0px;
	background-color: mediumvioletred;
	color: whitesmoke;
	z-index:100;
}
.menu .panel-body {
	height: 40px;
	background-color: mediumvioletred;
	color: whitesmoke;
	padding: 10px;
}
.docked {
  border-radius: 0 !important;
}
span {
	display: inline-block; 
	width: 80px;
	cursor: pointer;
	text-align:center;
}
 span:hover { 
 	font-weight:bold 
}
/***
Config Panel
**/
.config {
	position: absolute;
	top: 56px;
	right: 10px;
	height: 50%;
	width: 250px;
	max-height: calc(100% - 56px);
	min-width: 150px;
	background-color: #f5f5f5;
	border: 1px solid;
	border-color: #e3e3e3;
	z-index: 100;
}
.navigator {
	position: absolute;
	top: 55%;
	right: 10px;
	height: 40%;
	width: 250px;
	max-height: calc(100% - 56px);
	min-width: 150px;
	background-color: #f5f5f5;
	border: 1px solid;
	border-color: #e3e3e3;
	z-index: 100;
}
#workspace {
	left: 49px;
	top:56px;
	height: 611px;
	width: 1031px;
	border: 1px solid;
	border-color: lightgray;
	z-index: 0;
}